:root {
    --primary-color: linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color-dark) 100%);
    /*--primary-color: #98ffed;*/
    --primary-color-dark: #fe5196;
    /*--primary-color-light: #f77062;*/
    --secondary-color: #f77062;
    --background-color: #f9fafb;
    /*--primary-bg-color: linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color-dark) 100%);*/
    --primary-bg-color: #fff;

    --small: 576px;
    --medium: 768px;
    --large: 992px;
    --extra-large: 1200px;

    --base-font-size: 18px;
    --footer-sercal-size: 32px;
    /*--mobile-font-size: 30px;*/
}

@value small: screen and (min-width: 576px) and (orientation: portrait), screen and (min-height: 576px) and (orientation: landscape);

@value medium: screen and (min-width: 768px) and (orientation: portrait), screen and (min-height: 768px) and (orientation: landscape);

@value large: screen and (min-width: 992px) and (orientation: portrait), screen and (min-height: 992px) and (orientation: landscape);

@value extraLarge: screen and (min-width: 1200px) and (orientation: portrait), screen and (min-height: 1200px) and (orientation: landscape);

@value beforeSmall: screen and (max-width: 576px) and (orientation: portrait), screen and (max-height: 576px) and (orientation: landscape);

@value beforeMedium: screen and (max-width: 768px) and (orientation: portrait), screen and (max-height: 768px) and (orientation: landscape);

@value beforeLarge: screen and (max-width: 992px) and (orientation: portrait), screen and (max-height: 992px) and (orientation: landscape);

@value beforeExtraLarge: screen and (max-width: 1200px) and (orientation: portrait), screen and (max-height: 1200px) and (orientation: landscape);

html {
    font-size: var(--base-font-size);
    scrollbar-width: none;
}

div[role=group] {
    height: 100%;
}

div[tabindex='-1'] {
    height: 100%;
    width: 100%;
    display: unset;
}
