{
  "arrowParens": "always",
  "semi": false,
  "useTabs": false,
  "tabWidth": 4,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "printWidth": 100,
  "allowParens": true,
  "trailingComma": "all",
  "parser": "typescript"
}
