.common {
  display: grid;
  align-items: center;
  grid-template: ". content ." minmax(auto, auto)
    / 1fr calc(var(--small) - 40px) 1fr;
}

.content {
  grid-area: content;
}

@media screen and (max-width: 576px) and (orientation: portrait), screen and (max-height: 576px) and (orientation: landscape) {
  .common {
    grid-template: ". content ." minmax(auto, auto)
    / 20px 1fr 20px;
  }
}
