@import '../../../@styles/index.css';

.column {
    display: grid;
    width: 100%;
}

.column.small {
    grid-gap: 8px;
}

.column.medium {
    grid-gap: 16px;
}

.column.large {
    grid-gap: 24px;
}
