@import '../../../@styles/index.css';

@value large from '../../../@styles/index.css';
@value beforeLarge from '../../../@styles/index.css';

.layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  background-color: var(--background-color);
  grid-template:
    "content" calc(100% - 45px)
    "footer" minmax(45px, auto)
    / 100%;
}

@media large {
  .layout {
    grid-template:
      "head head" minmax(50px, auto)
      "menu content" calc(100% - 50px)
      / 300px calc(100% - 300px);
  }

  .layout .isMobile {
    display: none;
  }
}

@media beforeLarge {
  .layout .isDesktop {
    display: none;
  }
}

